<div class="container">
    <div class="row">
            <h1 class="" style="text-align : center;padding-top : 10px">Welcome to the official portal of Employee Management</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod veniam, incidunt dolorum temporibus magnam distinctio hic veritatis nostrum aliquam vero iure at cupiditate nisi, aliquid laudantium, tenetur explicabo assumenda!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, labore fugiat! Provident perspiciatis veritatis voluptatem necessitatibus sint reprehenderit quidem doloribus quaerat vero, quia est, sunt soluta. Quam quod similique consequuntur.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis maiores neque exercitationem sunt, ex, dolor corporis ipsam totam ipsum illum sapiente quos enim nisi distinctio optio qui. Assumenda, magni officiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae voluptas blanditiis praesentium. Natus, architecto soluta corrupti laboriosam sit tenetur odit accusantium vel suscipit cumque voluptatem, autem earum accusamus illo.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dignissimos ea porro eos accusamus dolor provident culpa illo perspiciatis doloribus, accusantium libero eligendi cumque nulla debitis quam id at cum!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, est velit sint repudiandae itaque consequatur illum, quae eum similique beatae asperiores quidem voluptatibus debitis a accusantium error possimus explicabo labore.
            </p>
            <br><br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi assumenda nesciunt praesentium pariatur. Quo porro rem officia aut commodi maiores ad magnam? Rerum reiciendis neque odio numquam vero ipsum unde.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur explicabo optio adipisci corporis, error quibusdam similique deserunt odit maiores illo autem vitae porro provident dolore, voluptates sed corrupti dolor nesciunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet magnam dolor cum quidem sequi debitis est! Neque facere labore sunt tempora adipisci porro vitae voluptas, hic, illo magnam quis fugiat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, corporis. Nemo debitis officia dicta, molestiae natus dolor itaque expedita nobis iste fugit alias possimus incidunt sint exercitationem soluta, perferendis aliquid.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ad quisquam rerum praesentium, eligendi veritatis obcaecati maxime soluta natus quo cum adipisci explicabo eaque culpa iusto, facere, incidunt quae rem?
            </p>
    </div>
</div>